body {
    font-size: 100%;
    margin-left: 2em;
    background-color: #ffc;
}

header img {
    float: left;
    margin-right: 1em;
}

header h2 {
    margin-bottom: 2em;
}

:root {
    --color-1: #c21f1f;
}

nav {
    margin-right: 0;
    margin-top: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: var(--color-1);
    color: white;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 204);
}

main h3:first-child {
    font-weight: bold;
}

main h3:first-child::first-letter {
    font-size: 150%;
}

main h1 {
    font-weight: bold;
    font-size: 400%;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    display: center;
}

.tomathien {
    border: 70px solid rgb(255, 255, 204);
    padding: 1em;
    text-align: center;
    background-color: hsl(120, 93%, 32%);
}

.tomathien h1 {
    font-size: 200%;
    color: hsl(0, 0%, 97%);
}

.contactInformation {
    background-color: rgb(215, 230, 173);
    color: black;
    padding: 5px;
    text-align: center;
    border: 70px solid rgb(255, 255, 204);
    border-radius: 400px;

}

.target {
    background-color: rgb(65, 148, 243);
    border: 25px solid rgb(255, 255, 204);
    padding: 1em;
    color: white;
    margin: 5px;
    padding: 5px;
    opacity: 0.5;
}

footer {
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 0;
}

a {
    color: #0c33f8;
}

a:hover {
    color: #333333;
}